{% block content %}
<!-- Resource: Form code from Bootstrap https://getbootstrap.com/docs/4.0/components/forms/ -->
    {% if register == True %}
        <form class="form authentication-form" method="POST" action="{{ url_for('register') }}">
    {% else %}
        <form class="form authentication-form" method="POST" action="{{ url_for('login') }}">
    {% endif %}
    <!-- Username -->
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="form-control" placeholder="Enter username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title = "Username must be a minimum of 5 characters, using upper and/or lowercase letters and/or numbers."required>
    </div>
    <!-- Password -->
    <div class="form-group">
        <label for="password">Password</label>
        <!-- Resource: Adding title https://stackoverflow.com/questions/65254917/change-please-match-the-format-requested-to-something-else -->
        <input id="password" name="password" type="password" class="form-control" placeholder="Enter Password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" title = "Password must be a minimum of 5 characters, using upper and/or lowercase letters and/or numbers." required>
    </div>
    {% if register == True %}
        <!-- GDPR -->
        <small id="gdpr" class="form-text text-muted">
            We take the privacy and security of individuals personal data very seriously. Your data will not be shared with any third parties. By checking the box below, you consent to MediCare storing your personal data.
        </small>
        <br>
        <!-- Check Box -->
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox" required>
            <label class="form-check-label" for="checkbox">
                I consent to MediTracker storing my medical data.
            </label>
        </div>
    {% endif %}
    <br>
    <!-- Resource: Center button - https://stackoverflow.com/questions/41664991/bootstrap-4-how-do-i-center-align-a-button/41665025 -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn register-btn" name="action">
                    {% if register == True %} Register {% else %} Login {% endif %}
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}