{% block content %}
<form class="profile-form" method="POST" action="{{ url_for('patientprofile') }}">
    <h5>First, upload a profile image</h5>
    <!-- Upload Profile Image -->
    <div class="profile-input shadow-sm">
        <div class="form-group row image-div">
            <label for="patient-image" class="col-xs-12 col-md-3 col-form-label">
                <strong>Profile Image</strong>
            </label>
            <div class="col-xs-12 col-md-8">
                <input id="patient-image" name="patient-image" class="form-control" type="url" placeholder="Enter Image URL">
            </div>
        </div>
    </div>
    <h5>Now, enter your details</h5>
    <!-- Enter Patient Profile Details -->
    <div class="profile-input shadow-sm">
        <!-- Enter Gender -->
        <div class="form-group row">
            <label for="patient-gender" class="col-xs-12 col-md-3 col-form-label">
                <strong>Gender</strong>
            </label>
            <div class="col-xs-12 col-md-8">
                <select id="patient-gender" name="patient-gender" class="form-control">
                    <option selected>Select...</option>
                    {% for gender in gender %}
                        <option value="{{ gender.gender }}">{{ gender.gender }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Enter DOB -->
        <div class="form-group row">
            <label for="patient-dob" class="col-xs-12 col-md-3 col-form-label">
                <strong>Date of Birth</strong>
            </label>
            <div class="col-xs-12 col-md-8">
                <input id="patient-dob" name="patient-dob" class="form-control" type="date" placeholder="DD/MM/YYYY">
            </div>
        </div>
        <!-- Enter Height -->
        <div class="form-group row">
            <label for="patient-height" class="col-xs-12 col-md-3 col-form-label">
                <strong>Height</strong>
            </label>
            <span class="col-xs-10 col-md-5">
                <input id="patient-height" name="patient-height" class="form-control" type="text" placeholder="Enter Height">
            </span>
            <div class="col-xs-2 col-md-3">
                <select id="height_metric" name="height_metric" class="form-control">
                    <option selected>cm/ft</option>
                    {% for height_metric in height_metric %}
                        <option value="{{ height_metric.height_metric }}">{{ height_metric.height_metric }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <!-- Update Button -->
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-5">
                <button type="submit" class="btn profile-button">
                    <strong>Update Profile</strong>
                </button>
            </div>
            <div class="col-xs-6 col-md-3">
                <button type="submit" class="btn cancel-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}