{% extends "layout/base.html" %}
{% block content %}
    <div class="container error-page">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <!-- Resource: Design inspiration and text from https://xconomy.com/san-diego/2018/06/07/no-vital-signs-apparent-at-wireless-health-specialist-awarepoint/ -->
                <h3>Error <span class="error-number">404</span></h3>
                <h4>Oops! Sorry, we can't find that page. Perhaps you can find what you're looking for on the homepage.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% if session.user %}
                <a class="error-button btn"  href="{{ url_for('home_user', username=session['user']) }}"><i class="fas fa-angle-left"></i> Back to home</a>
                {% else %}
                <a class="error-button btn" href="{{ url_for('home') }}"><i class="fas fa-angle-left"></i> Back to home</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}