{% extends "layout/base.html" %}
{% block content %}

<div class="container dashboard">
    <div class="row">
        <div class="col-12">
            <h3>My Dashboard</h3>
            <span><strong>Date: </strong></span><span id="dateToday"></span>
        </div>
        <div class="col-md-4">
            <h4 class="dashboard-heading">Health Profile</h4> 
            <h4>{{ username }}</h4>
            <p>Gender:</p>
            <p>DOB:</p>
            <p>Height:</p>
            <p><a class="edit-profile" href="{{ url_for('profile') }}"><i class="fas fa-edit"></i> Edit Profile</a></p>
            <!-- Resource: Icon from https://fontawesome.com/icons/angle-right?style=solid -->
            <a class="btn appointment-button" type="button" role="button" href="mailto:meditracker@meditracker.com"><strong>Request Appointment <i class="fas fa-angle-right"></i></strong></a>
        </div>
        <div class="col md 8">
            <h4 class="dashboard-heading">Symptom Tracker</h4>
        </div>
    </div>
</div>
{% endblock %} 