{% extends "layout/base.html" %}

{% block content %}
    <!-- Start Hero Images -->
    <div class="hero-image" class="container-fluid">
        <!-- Start Boxes -->
        <div class="container box-text">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box box1">
                        <i class="fa fa-pen" aria-hidden="true"></i>
                        <h4>Request Appointment</h4>
                        <p>Please email us to request an appointment with your GP.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box2">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <h4>Our Service</h4>
                        <p>MediTracker is an online patient portal service.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="box box3">
                        <i class="fa fa-clock" aria-hidden="true"></i>
                        <h4>Clinic Hours</h4>
                        <p>
                            <strong>9:00 - 5:30pm </strong> - Mon - Fri<br>
                            <strong>9:00 - 4:00pm</strong> - Sat<br>
                            <strong>Closed</strong> - Sun
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container about">
        <div class="row">
            <div class="col-sm">

            </div>
        </div>
    </div>
{% endblock %}