{% extends "layout/base.html" %}

{% block content %}
    <!-- Start Hero Images -->
    <div class="hero-image" class="container-fluid">
        <!-- Start Boxes -->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="box box1"></div>
                </div>
                <div class="col-sm-4">
                    <div class="box box2"></div>
                </div>
                <div class="col-sm-4">
                    <div class="box box3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container about">
        <div class="row">
            <div class="col-sm">

            </div>
        </div>
    </div>
{% endblock %}