{% extends "layout/base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('dashboard', username=session['user']) }}">My Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update Profile</li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="page-heading">Update Health Profile</h3>
            <p>Fill in the form below to edit your health profile:</p>
        </div>
    </div>
    {% include 'components/forms/profileform.html' %}
</div>
<!-- Back to Dashboard -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <i class="fas fa-chevron-left"></i>
            <a href="{{ url_for('dashboard', username=session['user']) }}" class=" back-to-dashboard">
                Back to Dashboard
            </a>
        </div>
    </div>
</div>
<br>
{% endblock %}