{% extends "layout/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="page-heading">Update Health Profile</h3>
            <p>Fill in the form below to edit your health profile:</p>
        </div>
        <div class="col-12">

        </div>
        <div class="col-12">
            <p></p><i class="fas fa-chevron-left"></i><a href="{{ url_for('dashboard', username=session['user']) }}"> Back to Dashboard</a></p>
        </div>
    </div>
</div>
{% endblock %}