{% extends "layout/base.html" %}
{% block content %}
    <div class="row register">
        <!-- Welcome Back Starts -->
        <div class="col-sm-4 welcome-alternate">
            <h3>Welcome Back</h3>
            <p>
                Sign in to your account to access your 
                <br> MediTracker dashboard
            </p>
            <!-- Resource: Button code from https://getbootstrap.com/docs/4.0/components/buttons -->               
            <button class="btn btn-outline-dark">Sign In</button>
        </div>
        <!-- Register/ Login Starts -->
        <div class="col-sm-8 user-authentication">
            {% if register == True %}
                <h3>Sign in </h3>
                <p>Sign in to access your MediTracker dashboard</p>
            {% else %}
                <h3>Create Account</h3>
                <p>Create an account to start using MediTracker today</p>
            {% endif %}
            {% include 'components/forms/authentication.html' %}
        </div>
    </div>
{% endblock %}