{% extends "layout/base.html" %}
{% block content %}
    <div class="row alternate-authentication">
        <!-- Welcome Back Starts -->
        <div class="col-sm-4 welcome-alternate">
            {% if register == True %}
                <h3>Welcome Back</h3>
                <p>
                    Login to your account to access your<br>
                    MediTracker dashboard
                </p>
                <!-- Resource: Button code from https://getbootstrap.com/docs/4.0/components/buttons -->               
                <a href="{{ url_for('login') }}" type="button" role="button" class="btn btn-outline-dark">Login</a>
            {% else %}
                <h3>Create Account</h3>
                <p>
                    Create an account to start<br>
                    using MediTracker today
                </p>          
                <a href="{{ url_for('register') }}" type="button" role="button" class="btn btn-outline-dark">Register</a>
            {% endif %}
        </div>
        <!-- Register/ Login Starts -->
        <div class="col-sm-8 user-authentication">
            {% if register == True %}
                <h3>Create Account</h3>
                <p>Create an account to start using MediTracker today</p>
            {% else %}
                <h3>Login</h3>
                <p>Login to access your MediTracker dashboard</p>
            {% endif %}
            {% include 'components/forms/authentication.html' %}
        </div>
    </div>
{% endblock %}