/* ----------- Navbar ----------- */

.nav-top {
    margin-top: 30px;
}

.logo {
    font-size: 50px;
    margin-bottom: 0px;
    color: #3B424A;
}

.logo:hover {
    text-decoration: none;
    color: #3B424A; 
}

.t {
    color: #9E0035;
}

.register-button {
    background-color: #9E0035;
    color: white !important;
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
}

.register-button a {
    color: white;
}

.login-button {
    color: #3B424A;
}

.custom-dropdown {
    background-color: #3B424A;
    color: white;
}

.custom-dropdown:hover {
    color: lightgrey;
}

.fa-user {
    color: white;
} 

.navbar-style {
    margin-top: 45px;
    background-color: #9E0035;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(204, 204, 204);
}

/* ----------- Hero ----------- */

.hero-image {
    /* Resource: Image sourced from Unsplash: https://unsplash.com/photos/KOID4ns1Ii4 */
    background: url("https://images.unsplash.com/photo-1557825835-a526494be845?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

/* ----------- Footer ----------- */
/* Used Chrome Dev Tools to find padding on bulleted items */
.footer{
    background-color: #3B424A;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-link {
    list-style-type: none;
    padding-inline-start: 0;
    color: white;
}

.footer-link a {
    color: white;
}

.footer h5 {
    color: white;
}

footer .fab {
    color: white;
    font-size: 40px;
    padding-right: 13px;
    padding-top: 10px;
}

.copyright {
    background-color: #24292e;
    color: white;
    font-size: 13px;
}

.copyright p {
    margin-bottom: 0px;
}

/* ----------- Homepage ----------- */

.box {
    width: 300px;
    height: 300px;
    background-color: #9E0035;
    /* Resource: https://www.youtube.com/watch?v=3PDQDRJq5Ls */
    position: relative;
    top: 430px;
}

.box1 {
    background-color: #AE345D;
}

.box2 {
    background-color: #9E0035;
}

.box3 {
    background-color: #6B0024;
}

.box-text {
    color: white;
    text-align: center;
}

.box-text h4 {
    padding-bottom: 10px;
}

.box-text .fa {
    font-size: 40px;
    padding: 30px 0px 30px 0;
}

.about {
    margin-top: 330px;
    margin-bottom: 100px; 
}

/* ----------- User Authentication ----------- */

.alternate-authentication {
    height: 620px;
}

.alternate-authentication h3 {
    font-weight: 700;
    text-align: center;
}

.alternate-authentication p {
    text-align: center;
}

.welcome-alternate {
    background-color: rgba(231, 231, 231, 0.637);
    padding-top: 140px;
    text-align: center;
}

.welcome-alternate .btn {
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
}

.user-authentication h3 {
    color: #9E0035;
}

.user-authentication {
    padding-top: 50px;
}

.form {
    padding-top: 40px;
    max-width: 60%;
    margin: 0 auto;
}

form .btn {
    background-color: #9E0035;
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
    color: white;
}

/* ----------- Flash Messages ----------- */

.flash-section {
    background-color: #3B424A;
    color: white;
}

/* ----------- Pages ----------- */

.page-heading {
    color: #9E0035;
    padding: 30px 0px 10px 0px;
}


/* ----------- Dashboard ----------- */

.dashboard-heading {
    background-color: #3B424A;
    color: white;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 45px;
}

.appointment-button {
    padding: 10px;
    margin-top: 30px;
    background-color: #9E0035;
    color: white;
    margin-bottom: 30px
}

.appointment-button:hover {
    color: lightgrey;
}

.edit-profile {
    color: #3B424A;
}

/* ----------- Profile Page ----------- */

.profile-form {
    max-width: 50%;
    margin-bottom: 40px;
}

.profile-form h5 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.profile-input {
    background-color: rgba(211, 211, 211, 0.315);
    padding: 30px 20px;
    border-radius: 5px;
    font-size: 14px; 
}

/* Resource: Change box shadow color https://www.tutorialrepublic.com/faq/how-to-change-bootstrap-default-input-focus-glow-style.php */
.form-control:focus {
    border-color: #9E0035;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #9e00355d;
}

.profile-button {
    background-color: #9E0035;
    color: white !important;
    border-radius: 40px;
    padding: 10px 40px 10px 40px;
    margin-top: 30px;
}