/* ----------- Navbar -----------*/

.navbar-style {
    background-color: #9E0035;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(204, 204, 204);
}

/* ----------- Footer -----------*/
/* Used Chrome Dev Tools to find padding on bulleted items */
.footer{
    background-color: rgb(66, 65, 65);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-link {
    list-style-type: none;
    padding-inline-start: 0;
    color: white;
}

.footer-link li {
    color: white;
}

.footer h5 {
    color: white;
}

.copyright {
    background-color: black;
    color: white;
    font-size: 13px;
}