
    <div class="container nav-top">
        <div class="row">
            <div class="col-sm-10">
                <!-- Placeholder until logo designed -->
                <a class="logo" href="{{ url_for('home') }}"><p>Medi<span class="t">T</span>racker</p></a>
            </div>
            <span class="col-sm-1">
                <!-- Resource: https://getbootstrap.com/docs/4.0/components/buttons/ -->
                <a type="button" class="btn login-button" href="{{ url_for('login') }}" role="button">
                    <strong>Login</strong>
                </a>
            </span>
            <div class="col-sm-1">
                <a type="button" class="btn register-button" href="{{ url_for('register') }}">
                    Register
                </a>
            </div>
        </div>
    </div>
    <!-- Navbar code sourced from Bootstrap - https://getbootstrap.com/docs/4.0/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-style">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse container" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                {% if session.user %}
                    <a class="nav-item nav-link active" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">About Us</a>
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Clinic hours</a>
                    <a class="nav-item nav-link" href="{{ url_for('dashboard', username=session['user']) }}">My Dashboard</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link active" href="{{ url_for('home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">About Us</a>
                    <a class="nav-item nav-link" href="{{ url_for('home') }}">Clinic hours</a>
                {% endif %}
            </div>
        </div>
    </nav>